
.wrapper, .display, .displaySet, .btns {
    border: 1px solid #61dafb;
    border-radius: 10px;
    margin: 15px;
}

.wrapper {
    display: block;
    width: 300px;
}

.display {
    background-color: #61dafb;
    color: #282c34;
    margin-bottom: 5px;
    font-weight: bold;
}

.displaySet {
    background-color: #282c34;
    color: #61dafb;
    padding: 15px;
}

.spanDefault {
    font-size: 45px;
    color: #282c34;
    margin: auto 0;
}

.spanRed {
    color: crimson;
    font-size: 45px;
    margin: auto 0;
}

.btns {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.btn {
    border-radius: 9px;
    background-color: #61dafb;
    color: #282c34;
    outline: none;
    user-select: none;
    font-weight: bold;
    font-size: 30px;
}

.btn:disabled {
    border-radius: 9px;
    background-color: #317182;
    color: #282c34;
    outline: none;
    user-select: none;
    font-weight: bold;
    font-size: 30px;
}

.input, .inputError {
    border-radius: 9px;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    outline: none;
}

.inputError {
    color: #282c34;
    background-color: crimson;
}